.Customer {
    height: 250px;
}

.Customer a {
    display: flex;
    flex-direction: column-reverse;
    gap: 70px;
    margin-top: 40px;
    box-sizing: border-box;
    border-radius: 60px;
    text-decoration-line: none;
    color: black;
    text-align: center;
    line-height: normal;
    height: fit-content;
    padding: 10px;
    border: 1px solid rgb(156, 189, 211);

}

.Customer #purchase {
    background-color: rgb(157, 231, 232);
}

.Customer #coupons {
    background-color: rgb(195, 245, 235);
}