.AddCustomer {
    height: fit-content;
    width: 400px;
    
}

.AddCustomer>form {
    width: 250px;
    text-align: left;
    margin: auto;
}

.AddCustomer input,
.AddCustomer button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}


.AddCustomer span {
    position: absolute;
    color: rgb(254, 15, 15);
    font-weight: 500;
    margin-left: 5px;
}